.bg-dark{
    background-color: #a35061 !important;
}
.nav-link{
    color: #f2d3cc !important;
}
#card{
    border-color: #a35061 !important;
}

p{
    color: #631f3a;
}
.bouton-card{
    background-color:  #a35061 !important;
}

#frame {
    display: none;
    width: 100px;
    height: auto;
}
#new_artist_toggle{
    display: none;
}

.btn-secondary{
    background-color:#631f3a !important;
    color: #f2d3cc !important;

}
.lien-dropdown{
    color: #631f3a !important;
}
#erreurLogin{
    color: #f2d3cc;
}